<div class="container">

  <div class="row">
    <h2><%= @article.title %></h2>
  </div>
  <div class="row">
    <p><%= @article.description %></p>
  </div>
  <div class="row">
    <%= link_to "Edit", edit_article_path %>
  </div>
  <div class="row">
    <%= link_to "Articles", articles_path %>
  </div>

</div>